$cf_green: #96C83F;
$cf_orange: #FFA500;
$cf_grey: #EEE;
$cf_purple: #C3C;

.cf_green {
  color: $cf_green;
}

.cf_green_bg {
  background-color: $cf_green;
}

.cf_orange {
  color: $cf_orange;
}

.cf_orange_bg {
  background-color: $cf_orange;
}

.cf_purple {
  color: $cf_purple;
}

.cf_orange_bg {
  background-color: $cf_purple;
}
