#flashMessage {
  padding-top: 53px
}

div.main {
  margin: 0 auto;
  padding-top: 61px;

  .pad-sides {
	padding: 0 20px;
  }
}

.third {
  display: inline-block;
  width: 33%;
}

@import "layout/header";

footer {
  background: $cf_orange;
  color: white;
  margin: 10px;
  padding: 10px 10px 0;
  vertical-align: top;
  line-height: 30px;
  font: 16px $body_font;

  .twitter_button_wrap {
	padding-left: 30px;position: relative;top: -3px;
  }
}
